{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
    {{form_start(form)}}
    <div class="form text-center">
        {{form_row(form.label)}}
        <button type="submit">Valider</button>
    </div>
    {{form_end(form)}}
    <a href="{{ path('app_home')}}" class="btn btn-primary mt-3">Retour</a>
{% endblock %}
